.App {
  text-align: center;
}

#title {
  font-size: 50pt;
}

#load {
  margin: auto;
  margin-top: 50px;
}

ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-top: 100px;
}

.pictureInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pictureAndChart {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 100px;
}

img {
  max-width: 60%;
  margin-bottom: 20px;
}

p {
  max-width: 60%;
}

h2 {
  margin: 6px;
}

h3 {
  margin: 6px;
}
